/* Footer Styling */
.footer-container {
	width: 100%;
	text-align: center !important;
	padding: 1rem;
	background: transparent;
	color: white;
	position: relative;
  }
  
  .footer-social-media-link {
	width: 30px;
	height: 30px;
	margin: 10px;
  }
  
  .footer-content {
	background-color: none;
	display: flex;
	justify-content: center !important;
	align-items: center;
  }
  
  * {
	font-family: 'Chivo Mono', "Baskervville";
	/* font-family: "Baskervville"; */
  }
  
  .footer-container .footer-section-left,
  .footer-container .footer-section-center,
  .footer-container .footer-section-right {
	display: inline-block;
	vertical-align: top;
  }
  
  /* Footer Left */
  .footer-container .footer-section-left {
	width: 40%;
  }
  
  .footer-container h3 {
	color: #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
  }
  
  .footer-container h3 span {
	color: lightseagreen;
  }
  
  /* Footer Center */
  .footer-container .footer-section-center {
	width: 35%;
  }
  
  .footer-container .footer-section-center i {
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
  }
  
  .footer-container .footer-section-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer-container .footer-section-center p {
	display: inline-block;
	color: #ffffff;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
  }
  
  .footer-container .footer-section-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
  }
  
  .footer-container .footer-section-center p a {
	color: lightseagreen;
	text-decoration: none;
  }
  
  /* Footer Right */
  .footer-container .footer-section-right {
	width: 20%;
  }
  .footer-section-right {
    margin-right: 30px;
    margin-top: 40px;
}

.footer-section-center {
    margin-right: 30px;
}
  
  .footer-container .footer-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
  }
  
  .footer-container .footer-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .footer-container .footer-social-icons {
	margin-top: 25px;
  }
  
  .footer-container .footer-social-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
	.footer-container {
	  font: bold 14px sans-serif;
	}
  
	.footer-container .footer-section-left,
	.footer-container .footer-section-center,
	.footer-container .footer-section-right {
	  display: block;
	  width: 100%;
	  margin-bottom: 40px;
	  text-align: center;
	}
  
	.footer-container .footer-section-center i {
	  margin-left: 0;
	}
  }
  
  .footer-logo-container img {
	box-shadow: 0 0 50px 10px rgba(128, 0, 128, 0.9);
	border-radius: 1.5rem;
  }
  
  .footer-logo {
	width: 7rem;
  }
  