.hero-container {
    z-index: 10;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: white;
}
.contact-button {
    pointer-events: auto !important;
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }
  
.bg {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-container,
.content {
    pointer-events: auto !important;
    position: relative;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    /* margin-bottom: 150px; */
    /* position: fixed; */
    font-family: "Chivo Mono";
    font-size: 48px;
}

.hr-logo-container {
    /* background: rgba(0, 0, 0, 0.0); */
    padding: 10px;
    /* border-radius: 10px; */
}

.hr-logo-container img {
    box-shadow: 0 0 50px 10px rgba(128, 0, 128, 0.6); /* Purple glow */
}

.logo {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.tagline {
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: "Chivo Mono";
    font-size: 25px;
    font-weight: 500;
}

.chat-here {
    width: 28px;
    height: auto;
}

.contact-button {
    background-color: #ff7f32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Chivo Mono";
    font-size: 18px;
    font-weight: 500;
}

.contact-button:hover {
    background-color: #e96c27;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .logo {
        width: 100px;
    }

    .contact-button {
        padding: 8px 16px;
        font-size: 0.9rem;
        font-size: 14px;
    }

    .tagline {
        font-size: 12px;
    }
}