* {
  margin: 0;
  padding: 0;
}

/* @keyframes rollingGradient {
  0% {
    background: radial-gradient(circle at -20% 50%, rgba(40, 42, 104, 0.8) 20%, rgba(10, 10, 20, 1) 80%);
  }
  25% {
    background: radial-gradient(circle at 25% 50%, rgba(16, 27, 82, 0.8) 25%, rgba(10, 10, 30, 1) 90%);
  }
  50% {
    background: radial-gradient(circle at 50% 50%, rgba(40, 42, 104, 0.8) 30%, rgba(5, 5, 15, 1) 90%);
  }
  75% {
    background: radial-gradient(circle at 75% 50%, rgba(60, 80, 180, 0.8) 25%, rgba(10, 10, 30, 1) 90%);
  }
  100% {
    background: radial-gradient(circle at 120% 50%, rgba(40, 42, 104, 0.8) 20%, rgba(10, 10, 20, 1) 80%);
  }
} */

body {
  /* animation: rollingGradient 30s infinite linear; */
  background: radial-gradient(circle, rgba(40, 42, 104, 0.8) 20%, rgba(10, 10, 20, 1) 80%);
  background-attachment: fixed;
  background-size: cover;
  transition: background 0.1s ease-in-out; /* Smooth transition effect */
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
